extends layout

block content
  .container.mt-3
    if message
      .alert.alert-dismissible.fade.show(
        class=verificacao ? 'alert-success' : 'alert-danger',
        role='alert'
      )
        | #{message}
        button.btn-close(type='button', data-bs-dismiss='alert', aria-label='Close')

    // Conteúdo principal abaixo
    .card.mx-auto(style="max-width: 400px;")
      .card-body.text-center
        h1.card-title= title
        p.card-text
          strong Nome: 
          | #{user.nome}
        p.card-text
          strong E-mail: 
          | #{user.email}
        if user.file
          p.card-text.mt-3 Foto de Perfil:
          img.card-img-top.mx-auto.d-block(
            src='/' + user.file, 
            alt='Foto de perfil', 
            style='max-width: 200px; border-radius: 10px;'
          )

        .d-flex.justify-content-center.mt-4.gap-3
          a.btn.btn-secondary(href="/") Voltar
          a.btn.btn-primary(href=`/usuario/${user.id}/download`) Baixar
          a.btn.btn-warning(href=`/usuario/${user.id}/editar`) Editar
          a.btn.btn-danger(href=`/usuario/${user.id}/deleta` onclick="return confirm('Tem certeza que deseja deletar este usuário?')") Deletar
